<div id="<%= dom_id relationship %>">
  <p>
    <strong>Member1:</strong>
    <%= relationship.member1.name %>
  </p>

  <p>
    <strong>Member2:</strong>
    <%= relationship.member2.name%>
  </p>

  <p>
    <strong>Types:</strong>
    <%= relationship.types %>
  </p>

</div>
